<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="gaseagua" connectionString="server=monorail.proxy.rlwy.net; port=54451; userID=root;
				 password=BgEfBC4DgDaggg3H4C6GGDEFCahfdGeb; database=gaseagua"
			 providerName="railway;"/>
	</connectionStrings>

</configuration>