<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="gaseagua" connectionString="Server=sql10.freemysqlhosting.net;Database=sql10664524;User ID=sql10664524;Password=XtLMMxAUU6;Port=3306;SSL Mode=Preferred;"/>
	</connectionStrings>
	
</configuration>